---
import { SITE_DATA } from '../constants';
import SocialIcons from './SocialIcons.astro';
---

<div class="footer-container">
	<div class="footer-content">
		<div class="copyright">&copy; Developed by <a href="https://www.linkedin.com/in/fernando-conil-608913185/" target="_blank" aria-label="Link to LinkedIn">Fernando Conil</a></div>
	</div>
</div>
